
<div>
  <h3><strong>Live Orders</strong></h3>
  <div class="card-container">
    <div class="card">
      <div class="card-img-bag">
        <i class="fa-solid fa-bag-shopping"></i>
      </div>
      <div class="card-text">
        <span class="card-font">47</span>
        <span>Orders</span>
      </div>
    </div>
    <div class="card">
      <div class="card-img-stock">
        <i class="fa-solid fa-list-check"></i>
      </div>
      <div class="card-text">
        <span class="card-font">56</span>
        <span>Total Pending</span>
      </div>
    </div>
    <div class="card">
      <div class="card-img-van">
        <i class="fa-solid fa-truck-ramp-box"></i>
      </div>
      <div class="card-text">
        <span class="card-font">26</span>
        <span>Total Dispatch</span>
      </div>
    </div>
  </div>
</div>