.sidebars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85vh;
}

.side-bar-contents {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.side-bar-contents button {
  color: gray;
}

.sidebar-component {
  width: 100%;
  height: 40px;
  padding-left: 20px;
}

button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: white;
  height: 40px;
  width: 100%;
  border-radius: 10px;
  margin-left: 5%;
  gap: 10px;
}

.side-bar-contents .test-div:hover {
  border-left: 5px solid red;
  transition: 0.3s;
}

.side-bar-contents div.test-div button:hover {
  background-color: rgb(255, 210, 210);
}
button:hover {
  color: red;
  /* justify-content: center; */
  padding-left: 10px ;
}

.fa-box {
  font-size: large;
}
.fa-bag-shopping {
  font-size: large;
}
.fa-suitcase {
  font-size: large;
}
.fa-tag {
  font-size: large;
}
.fa-cube {
  font-size: large;
}
.fa-layer-group {
  font-size: large;
}
.fa-comments {
  font-size: large;
}
.fa-gear {
  font-size: large;
}
.font-span {
  font-size: small;
}
.busy-mode {
  display: flex;
  align-items: center;
  gap: 5%;
  padding-left: 15%;
  font-size: small;
  font-weight: bold;
}

/* toggle */

.switch{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 30px;
}
.switch input {display: none}

.slider:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 5px;
  top:2px;
  background: black;
  transition: 0.4s;
  border-radius: 20px;

}

input:checked + .slider{
 background-color: rgb(181, 255, 152);
}
input:checked + .slider::before{
 background-color: rgb(49, 185, 15);
 transform: translateX(22px);
}

@media screen and (min-width: 1900px) {
  .side-bar-contents {
    gap: 35px;
  }

  .sidebar-component {
    width: 100%;
    height: 60px;
    padding-left: 25%;
  }

  .test-div button:hover {
    background-color: rgb(253, 166, 166);
  }

  .menu-names-no {
    font-size: large;
  }

  .fa-box, .fa-suitcase, .fa-tag, .fa-cube, .fa-layer-group, .fa-comments, .fa-gear {
    font-size: x-large;
  }

  .busy-mode {
    font-size: large;
  }

  .switch input:checked + .slider {
    background-color: var(--color-red);
  }
}

@media (max-width: 770px) {
  .side-bar-contents {
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding: 2% 0 4%;
  }

  .sidebar-component {
    width: auto;
    height: auto;
  }

  .menu-names-no {
    display: none;
  }

  .test-div button {
    font-size: small;
    padding: 5px;
  }

  .fa-box, .fa-suitcase, .fa-tag, .fa-cube, .fa-layer-group, .fa-comments, .fa-gear {
    font-size: medium;
  }

  .busy-mode {
    display: none;
  }
  .sidebars{
    height: auto;
  }

  .side-bar-contents .test-div:hover {
    border-left: none;
    transition: 0s;
  }
  .side-bar-contents div.test-div button:hover {
    background-color: rgb(253, 166, 166);
  }
  button:hover span {
    color: var(--color-red);
  }
  
}

@media screen and (max-width: 496px) {
  .side-bar-contents {
    flex-direction: column;
    gap: 10px;
    padding: 2%;
  }

  .test-div button {
    font-size: small;
  }

  .fa-box, .fa-suitcase, .fa-tag, .fa-cube, .fa-layer-group, .fa-comments, .fa-gear {
    font-size: small;
  }

  .busy-mode {
    font-size: small;
  }

  .menu-names-no {
    font-size: x-small;
  }

  

  .slider {
    width: 34px;
    height: 14px;
  }

  .switch input:checked + .slider {
    background-color: var(--color-red);
  }
}

@media screen and (max-width: 375px) {
  .menu-names-no {
    display: none;
  }

  .slider {
    width: 30px;
    height: 12px;
  }
}
