<nav>        
  <div class="ham-near-img">
    <div class="ham-bar">
      <i class="fa-solid fa-bars"></i>
      <div class="ham-bar-contents">
        <div class="side-bar-content">
          <span><i class="fa-solid fa-box"></i>  Live Orders</span>
          <span><i class="fa-solid fa-suitcase"></i>  Order History</span>
          <span><i class="fa-solid fa-tag"></i>  Offers</span>
          <span><i class="fa-solid fa-cube"></i>  Products</span>
          <span><i class="fa-solid fa-layer-group"></i>  Stock</span>
          <span><i class="fa-solid fa-comments"></i>  Message</span>
          <span><i class="fa-solid fa-gear"> </i>  Settings</span>
        </div>
      </div>
    </div>
    <div class="img-onside-bar">
      <img
        src="./assets/images/bingova.jpg"
        alt="company bringova"
      />
    </div>
  </div>
  <div class="search">
    <span class="search-contents">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="search-div-content">Search</span>
    </span>
  </div>
  <div class="account-details">
    <div class="open-toggle-close">
      <div class="open-toggle">
        <span>Open For Order</span>
        <label class="switch">
          <input type="checkbox" checked>
          <span class="slider"></span>
      </label>
      </div>
    </div>
    <div>
      <div class="bell">
        <div class="icon-container">
          <i class="fa-regular fa-bell"></i>
        </div>

        <div class="bell-items">
          <div class="open-toggle">
            <p>Open For Order</p>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider"></span>
          </label>
          </div>
          <div class="busy-modes">
            <span>Busy Mode</span>
            <label class="switch">
              <input type="checkbox" checked>
              <span class="slider"></span>
          </label>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-contents">
      <div class="profile-img">
        <img
          src="./assets/images/m1.jpg"
          alt="user image"
        />
      </div>
      <span class="name-resize">Lubomir Dvořák</span>
      <i class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
</nav>